.review-form input {
  width: 100%;
  margin-bottom: 30px;
  height: 60px;
  padding: 30px;
  border-radius: 5px;
  border: 1px solid rgb(121, 121, 121);
}
.review-form textarea {
  width: 100%;
  /* height: 60px; */
  padding: 30px;
  border-radius: 5px;
  border: 1px solid lightgray;
}
